<h1>Hiking the Trail</h1>
<p>The trail is an easy way to climb the mountain. I can enjoy the views along the way. What's that behind the rock. It's a grizzly bear. It's catching up with me. Oh, no, I'm going to get killed!</p>
