<h1>Which way up the Mountain?</h1>
<p>Up the mountain I go. Should I take the easy way and <%= link_to "follow the trail", woods_hike_path %>, or should I take the fast way and <%= link_to "climb straight up the cliff", woods_climb_path %>.</p>
