<h1>Swim or Fish?</h1>
<p>What a beautiful stream. Look at that deep pool. Perhaps I'll <%= link_to "take a swim", woods_swim_path %>. Or maybe I'll pull out my fishing pole and <%= link_to "catch dinner", woods_fish_path %>.</p>
